In [1]:
import bmdrc 
import pandas as pd

## Module 1: Input Data Modules 

##### Binary Class

In [2]:
morpho_example_wide = pd.read_csv("/Users/degn400/Git_Repos/bmdrc/data/Binary_Morphology_Wide.csv")

Wide = bmdrc.input_data_classes.BinaryClass(
    df = morpho_example_wide,
    chemical = "chemical.id",
    plate = "plate.id",
    well = "well",
    concentration = "conc",
    format = "wide"
)

print(Wide.df)
print(Wide.format)
print(Wide.chemical)
print(Wide.plate)
print(Wide.well)
print(Wide.concentration)
print(Wide.endpoint)
print(Wide.value)

       chemical.id  conc  plate.id well endpoint  value
0             3757   0.0     19877  H01     MO24    0.0
1             3757   0.0     19877  H02     MO24    0.0
2             3757   0.0     19877  H03     MO24    0.0
3             3757   0.0     19877  H04     MO24    0.0
4             3757   0.0     19877  H05     MO24    0.0
...            ...   ...       ...  ...      ...    ...
19867         3863  10.0     20637  H08     DNC_    0.0
19868         3863  10.0     20637  H09     DNC_    0.0
19869         3863  10.0     20637  H10     DNC_    0.0
19870         3863  10.0     20637  H11     DNC_    0.0
19871         3863  10.0     20637  H12     DNC_    0.0

[19872 rows x 6 columns]
wide
chemical.id
plate.id
well
conc
endpoint
value

In [3]:
morpho_example_long = pd.read_csv("/Users/degn400/Git_Repos/bmdrc/data/Binary_Morphology_Long.csv")

Long = bmdrc.input_data_classes.BinaryClass(
    df = morpho_example_long,
    chemical = "chemical.id",
    plate = "plate.id",
    well = "well",
    concentration = "conc",
    endpoint = "endpoint",
    value = "value"
)

print(Long.df)
print(Long.format)
print(Long.chemical)
print(Long.plate)
print(Long.well)
print(Long.concentration)
print(Long.endpoint)
print(Long.value)

       chemical.id  conc  plate.id well endpoint  value
0             3757   0.0     19877  H01     MO24    0.0
1             3757   0.0     19877  H02     MO24    0.0
2             3757   0.0     19877  H03     MO24    0.0
3             3757   0.0     19877  H04     MO24    0.0
4             3757   0.0     19877  H05     MO24    0.0
...            ...   ...       ...  ...      ...    ...
19867         3863  10.0     20637  H08     DNC_    0.0
19868         3863  10.0     20637  H09     DNC_    0.0
19869         3863  10.0     20637  H10     DNC_    0.0
19870         3863  10.0     20637  H11     DNC_    0.0
19871         3863  10.0     20637  H12     DNC_    0.0

[19872 rows x 6 columns]
long
chemical.id
plate.id
well
conc
endpoint
value

## Module 2: Pre-Processing Modules

#### Binary Class

In [6]:
endpoint_dict = {"ANY24":["MO24", "DP24", "SM24", "NC24"], "DAVID":["MO24", "DP24"]}

# Add new endpoint
Long.combine_and_create_new_endpoints(endpoint_dict)

Long.df

ANY24 is already an existing endpoint
DAVID is already an existing endpoint

     chemical.id  conc  plate.id well endpoint  value
0           3757   0.0     19877  H01     MO24    0.0
1           3757   0.0     19877  H02     MO24    0.0
2           3757   0.0     19877  H03     MO24    0.0
3           3757   0.0     19877  H04     MO24    0.0
4           3757   0.0     19877  H05     MO24    0.0
..           ...   ...       ...  ...      ...    ...
859         3863  10.0     20637  H08    DAVID    1.0
860         3863  10.0     20637  H09    DAVID    1.0
861         3863  10.0     20637  H10    DAVID    0.0
862         3863  10.0     20637  H11    DAVID    0.0
863         3863  10.0     20637  H12    DAVID    0.0

[21600 rows x 6 columns]

In [8]:
# Add new endpoint
Wide.combine_and_create_new_endpoints(endpoint_dict)

Wide.df

ANY24 is already an existing endpoint
DAVID is already an existing endpoint

     chemical.id  conc  plate.id well endpoint  value
0           3757   0.0     19877  H01     MO24    0.0
1           3757   0.0     19877  H02     MO24    0.0
2           3757   0.0     19877  H03     MO24    0.0
3           3757   0.0     19877  H04     MO24    0.0
4           3757   0.0     19877  H05     MO24    0.0
..           ...   ...       ...  ...      ...    ...
859         3863  10.0     20637  H08    DAVID    1.0
860         3863  10.0     20637  H09    DAVID    1.0
861         3863  10.0     20637  H10    DAVID    0.0
862         3863  10.0     20637  H11    DAVID    0.0
863         3863  10.0     20637  H12    DAVID    0.0

[21600 rows x 6 columns]