In [1]:
import bmdrc
import pandas as pd

## Module 1: Input Data Modules 

##### LPR Class

In [2]:
from bmdrc.LPRClass import LPRClass

lpr_example = pd.read_csv("/Users/degn400/Git_Repos/bmdrc/data/LPR_Long.csv")

LPR = LPRClass(
    df = lpr_example,
    chemical = "chemical.id",
    plate = "plate.id",
    well = "well",
    concentration = "conc",
    time = "variable",
    value = "value",
    cycle_length = 20.0,
    cycle_cooldown = 10.0, 
    starting_cycle = "light"
)

...defining cycles
...calculating AUC values
...calculating MOV values

In [3]:
LPR.df

      chemical.id   conc  plate.id well endpoint  value
0               2    0.0     20544  H01     AUC1    0.0
1               2    0.0     20544  H02     AUC1    0.0
2               2    0.0     20544  H03     AUC1    0.0
3               2    0.0     20544  H04     AUC1    0.0
4               2    0.0     20544  H05     AUC1    1.0
...           ...    ...       ...  ...      ...    ...
2299            2  100.0     20625  A08     MOV4    0.0
2300            2  100.0     20625  A09     MOV4    0.0
2301            2  100.0     20625  A10     MOV4    0.0
2302            2  100.0     20625  A11     MOV4    0.0
2303            2  100.0     20625  A12     MOV4    0.0

[2304 rows x 6 columns]

## Module 2: Pre-Processing Modules

##### LPR Class: Combine Endpoints

In [4]:
LPR.combine_and_create_new_endpoints({"ANY_MOV": ["MOV1", "MOV2", "MOV3", "MOV4"],
                                      "ANY_AUC": ["AUC1", "AUC2", "AUC3", "AUC4"]})

#### LPR Class: Set wells to NA

In [7]:
LPR.set_well_to_na(endpoint_name = )

array(['AUC1', 'AUC2', 'AUC3', 'AUC4', 'MOV1', 'MOV2', 'MOV3', 'MOV4',
       'ANY_MOV', 'ANY_AUC'], dtype=object)